.modal-overlay {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: rgba(0, 0, 0, 0.5);
 display: flex;
 justify-content: center;
 align-items: center;
}

.modal-content {
 background-color: white;
 padding: 2rem;
 border-radius: 8px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 text-align: center;
 max-width: 300px;
}

.modal-content h2 {
 font-family: 'Bebas Neue', sans-serif;
 color: #286f9e;
 font-size: 28px;
 margin-bottom: 1rem;
}

.modal-content form {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.modal-content input {
 margin-bottom: 1rem;
 padding: 0.5rem;
 font-size: 18px;
 width: 80%;
}

.modal-content .submit-button {
 padding: 0.5rem 1.5rem;
 background-color: #286f9e;
 color: white;
 border: none;
 cursor: pointer;
 transition: background-color 0.3s ease;
}

.modal-content .submit-button:hover {
 background-color: #1e5472;
}

.modal-content .close-button {
 padding: 0.5rem 1rem;
 background-color: #ccc;
 color: white;
 border: none;
 cursor: pointer;
 transition: background-color 0.3s ease;
}

.modal-content .close-button:hover {
 background-color: #999;
}
